.dart_tool/
.packages
build/
android/app/.cxx/Debug
# ios/Flutter
# macos/Flutter
# macos/Podfile
# ios/Podfile


pubspec.lock
doc/api/
android/app/google-services.json

.env*

*.dart.js
*.info.json      
*.js             
*.js_
*.js.deps
*.js.map

.flutter-plugins
.flutter-plugins-dependencies
.DS_Store