.dart_tool/
.packages
build/
android/app/.cxx/Debug



pubspec.lock
doc/api/

.env*

*.dart.js
*.info.json      
*.js             
*.js_
*.js.deps
*.js.map

.flutter-plugins
.flutter-plugins-dependencies
.DS_Store