<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDo3fMf8YzFFOaEfv-Yyd6sfXbAuQ2zyUA</string>
	<key>GCM_SENDER_ID</key>
	<string>935788910946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luarsekolah.taskhub</string>
	<key>PROJECT_ID</key>
	<string>task-hub-1e3e2</string>
	<key>STORAGE_BUCKET</key>
	<string>task-hub-1e3e2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935788910946:ios:5158ba70496a3529c9743b</string>
</dict>
</plist>